<h1 class="mb-4"><%= @place["name"] %></h1>

<% if session["user_id"] %>

  <h2 class="mb-3">My Entries</h2>

  <div class="container text-center">
    <div class="row">
      <% @entries.each do |entry| %>
        <div class="col-12 col-md-4 mb-4">
          <div class="card shadow-sm p-3">
            <h3><%= entry["title"] %></h3>
            <h4><%= entry["occurred_on"] %></h4>
            <p><%= entry["description"] %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
  </p>

  <p>
    <a href="/places" class="btn btn-primary">Back to All Places</a>
  </p>

<% else %>
  <p class="text-danger">You Need To Log In!</p>
<% end %>
